<div class="container">
  <div class="row">
   <!-- Main section-->
   <section class="section-container col-md-12">
    <!-- Page content-->
    <div class="content-wrapper col-md-12">
     
       <div class="container-fluid col-md-12">
          <div class="card col-md-12">
             <div class="card-header col-md-12">
                <div class="card-title"></div>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="/userAdd"
                  >
                    <i class="fas fa fa-plus pr-2" aria-hidden="true"></i> Add New User
                  </button>
             </div>
         
             <div  class="card-body col-md-12">
              <mat-card>
                
                <div class="example-container mat-elevation-z8">
                    <div class="">
                     
                        <mat-form-field style="width: 45%; margin-left: 50%;">                         
                            <input matInput (keyup)="Filter($event.target.value)" placeholder="Filter">                           
                        </mat-form-field>
                        <i class="fas fa fa-search" aria-hidden="true"></i>
                    </div>
                    <mat-table #Table [dataSource]="MyDataSource" matSort>
            
                        <ng-container matColumnDef="userId">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> User Id </mat-header-cell>
                            <mat-cell *matCellDef="let post"> {{post.userId}} </mat-cell>
                        </ng-container>
            
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>  User Name </mat-header-cell>
                            <mat-cell *matCellDef="let post"> {{post.name}} </mat-cell>
                        </ng-container>
            
                      
                        <ng-container matColumnDef="password">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Password </mat-header-cell>
                            <mat-cell *matCellDef="let post"> {{post.password}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="isStudent">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Is Student </mat-header-cell>
                            <mat-cell *matCellDef="let post">  
                                <select
                                disabled
                                id="isStudent"
                                value="{{post.isStudent}}"
                              >
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                              </select>
                            </mat-cell>
                        </ng-container>
                     
                        <ng-container matColumnDef="isTeacher">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Is Teacher </mat-header-cell>
                            <mat-cell *matCellDef="let post">
                                <select
                                disabled
                                id="isTeacher"
                                value="{{post.isTeacher}}"
                              >
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                              </select>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="isAdmin">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Is Admin </mat-header-cell>
                            <mat-cell *matCellDef="let post">
                                <select
                                disabled
                                id="isAdmin"
                                value="{{post.isAdmin}}"
                              >
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                              </select> </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="actions" >
                            <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                            <mat-cell *matCellDef="let post">                            
                        <div class="row col-md-12">
                          <div class="col-md-4"></div>
                          <div class="col-md-4"><a class="fa fa-trash" (click)="delete(post.userId)"></a></div>
                          <div class="col-md-4"> <a routerLink="/userDetail/{{ post.userId }}" class="fa fa-edit" > </a></div>
                        </div>
                                 </mat-cell>
                        </ng-container>
                       
            
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
            
                    <!-- To paginate between pages with search -->
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
                    </mat-paginator>
                </div>
            </mat-card>
             </div>
          </div>
        
       </div>
    </div>
 </section>

 
  </div>
</div>
