<!-- Grid row -->
<div class="row accordion-gradient-bcg d-flex justify-content-center">
  <!-- Grid column -->
  <div class="col-md-12 col-xl-8 py-1">
    <a class="fas fa fa-close pr-2" routerLink="/calendar"> </a>
    <!--Accordion wrapper-->
    <div class="accordion md-accordion accordion-2" id="accordionEx7" role="tablist" aria-multiselectable="true">
      <!-- Accordion card -->
      <div class="card">
        <!-- Card header -->
        <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading2">
          <a data-toggle="collapse" data-parent="#accordionEx7" href="#collapse2" aria-expanded="true"
            aria-controls="collapse2">
            <h5 class="mb-0 white-text text-uppercase font-thin">
              Scheduled Course Detail
              <i class="fas fa fa-angle-down rotate-icon"></i>
            </h5>
          </a>
        </div>

        <!-- Card body -->
        <div id="collapse2" class="collapse show" role="tabpanel" aria-labelledby="heading2"
          data-parent="#accordionEx7">
          <div class="card-body mb-1 rgba-grey-light white-text">
            <div class="container">
              <div class="row">
                <div class="col-md-6 p-4 align-self-center">
                  <h5 class="font-weight-normal mb-3">Course detail</h5>
                  <hr>

                  <p class="text-muted">
                    {{ calendar.course.name }} -
                    {{ calendar.course.description }}
                  </p>

                  <ul class="list-unstyled font-small mt-5 mb-0">
                    <li>
                      <p class="text-uppercase mb-2">
                        <strong> Standart Price</strong>
                      </p>
                      <p class="text-muted mb-4">{{ calendar.course.price | currency }}</p>
                    </li>

                    <li>
                      <p class="text-uppercase mb-2">
                        <strong>Duration</strong>
                      </p>
                      <p class="text-muted mb-4">
                        {{ calendar.course.duration }}
                      </p>
                    </li>

                    <li>
                      <p class="text-uppercase mb-2">
                        <strong> seasonal price </strong>
                      </p>
                      <p class="text-muted mb-4">{{ calendar.price | currency}}</p>
                    </li>
                  </ul>


                </div>


                <div class="col-md-6 p-3 align-self-center">
                  <h5 class="font-weight-normal mb-3">Teacher detail</h5>
                  <hr>

                  <p class="text-muted">
                    {{ calendar.teacher.name }} {{ calendar.teacher.surname }}
                  </p>

                  <ul class="list-unstyled font-small mt-5 mb-0">
                    <li>
                      <p class="text-uppercase mb-2">
                        <strong>Qualification</strong>
                      </p>
                      <p class="text-muted mb-4">
                        {{ calendar.teacher.qualification }}
                      </p>
                    </li>

                    <li>
                      <p class="text-uppercase mb-2">
                        <strong>Start - End Date</strong>
                      </p>
                      <p class="text-muted mb-4">
                        {{ calendar.startDateStr }} - {{ calendar.endDateStr }}
                      </p>
                    </li>

                    <li>
                      <p class="text-uppercase mb-2"><strong>Skills</strong></p>
                      <p class="text-muted mb-4">
                        {{ calendar.teacher.compBranch }}
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion card -->

      <!-- Accordion card -->
      <div class="card">
        <!-- Card header -->
        <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse3"
            aria-expanded="false" aria-controls="collapse3">
            <h5 class="mb-0 white-text text-uppercase font-thin">
              Course Content <i class="fas fa fa-angle-down rotate-icon"></i>
            </h5>
          </a>
        </div>

        <!-- Card body -->
        <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordionEx7">
          <div class="card-body mb-1 rgba-grey-light white-text" [innerHTML]="calendar.courseContent">

          </div>
        </div>
      </div>
      <!-- Accordion card -->
      <!-- Accordion card -->
      <div class="card">
        <!-- Card header -->
        <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading1">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse1"
            aria-expanded="false" aria-controls="collapse1">
            <h5 class="mb-0 white-text text-uppercase font-thin">
              Participant Detail
              <i class="fas fa fa-angle-down rotate-icon"></i>
            </h5>
          </a>
        </div>

        <!-- Card body -->
        <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1" data-parent="#accordionEx7">
          <div class="card-body mb-1 rgba-grey-light white-text">
            <div class="container my-5">
              <div class="row">
                <div  *ngIf="!(calendar.participantCount > 0)"  class="row">
                  <div class="alert alert-info" role="alert">
                    No Records Found! 
                  </div>
                </div>
                <table *ngIf="calendar.participantCount > 0" class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Student Id</th>
                      <th scope="col">Name</th>
                      <th scope="col">Sur Name</th>
                      <th scope="col">User Name</th>
                      <th scope="col">E-mail</th>
                      <th scope="col">Phone</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Paid</th>
                      <th scope="col">Remain</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let participant of calendar.participantList">
                      <th scope="row">{{ participant.student.studentId }}</th>
                      <td>{{ participant.student.name }}</td>
                      <td>{{ participant.student.surname }}</td>
                      <td>
                        {{ participant.student.userName }}

                      </td>
                      <td>{{ participant.student.email }}
                      </td>
                      <td>{{ participant.student.phone }}
                      </td>
                      <td>{{ participant.amount | currency }}
                      </td>
                      <td>{{ participant.amountPaid | currency }}
                      </td>
                      <td>{{ participant.amountRemain | currency }}
                      </td>
                      <td>


                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Accordion card -->
    </div>
    <!--/.Accordion wrapper-->
  </div>
  <!-- Grid column -->
</div>
<!-- Grid row -->