<!-- Grid row -->
<div class="row accordion-gradient-bcg d-flex justify-content-center">
  <form
    class="row col-md-12 col-xl-12 py-1 px-5"
    #calendarAddForm="ngForm"
    (ngSubmit)="add()"
  >
    
    <div class="row col-md-12">
      <!-- Grid column -->
      <div class="col-md-12">
        <!--Accordion wrapper-->
        <div
          class="accordion md-accordion accordion-2"
          id="accordionEx7"
          role="tablist"
          aria-multiselectable="true"
        >
          <!-- Accordion card -->
          <div class="card">
            <!-- Card header -->
            <div
              class="card-header rgba-stylish-strong z-depth-1 mb-1"
              role="tab"
              id="heading2"
            >
              <a
                data-toggle="collapse"
                data-parent="#accordionEx7"
                href="#collapse2"
                aria-expanded="true"
                aria-controls="collapse2"
              >
                <h5 class="mb-0 white-text text-uppercase font-thin">
                  Scheduled Course Detail
                  <i class="fas fa fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div
              id="collapse2"
              class="collapse show"
              role="tabpanel"
              aria-labelledby="heading2"
              data-parent="#accordionEx7"
            >
              <div class="card-body mb-1 rgba-grey-light white-text">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 p-4 align-self-center">
                      <h5 class="font-weight-normal mb-3">Course detail</h5>
                      <hr />
                      <p class="text-muted">
                        <select
                          class="form-control col-md-4"
                          #courseId="ngModel"
                          (change)="setCourseValue(courseId.value)"
                          id="courseId"
                          name="courseId"
                          [(ngModel)]="calendar.courseId"
                          required
                        >
                          <option value="" selected>Select Course</option>
                          <option
                            [value]="course.courseId"
                            *ngFor="let course of courseList"
                          >
                            {{ course.name }}
                          </option>
                        </select>
                        <span
                          class="help-block"
                          style="color: orangered"
                          *ngIf="courseId.invalid && courseId.touched"
                          >* Course is required</span
                        >
                        <br />

                        {{ calendar.course.name }} -
                        {{ calendar.course.description }}
                      </p>

                      <ul class="list-unstyled font-small mt-5 mb-0">
                        <li>
                          <p class="text-uppercase mb-2">
                            <strong> Standart Price</strong>
                          </p>
                          <p class="text-muted mb-4">
                            {{ calendar.course.price | currency }}
                          </p>
                        </li>

                        <li>
                          <p class="text-uppercase mb-2">
                            <strong>Duration</strong>
                          </p>
                          <p class="text-muted mb-4">
                            {{ calendar.course.duration }}
                          </p>
                        </li>

                        <li>
                          <p class="text-uppercase mb-2">
                            <strong> seasonal price </strong>
                          </p>
                          <p class="text-muted mb-4">
                            <input
                              type="number"
                              class="form-control col-md-4"
                              id="price"
                              #price="ngModel"
                              name="price"
                              [(ngModel)]="calendar.price"
                              required
                            />
                            {{ calendar.price | currency }}
                            <span
                              class="help-block"
                              style="color: orangered"
                              *ngIf="price.invalid && price.touched"
                              >* Price is required</span
                            >
                          </p>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-6 p-3 align-self-center">
                      <h5 class="font-weight-normal mb-3">Teacher detail</h5>
                      <hr />

                      <p class="text-muted">
                        <select
                          class="form-control col-md-4"
                          #teacherId="ngModel"
                          (change)="setTeacherValue(teacherId.value)"
                          id="teacherId"
                          name="teacherId"
                          [(ngModel)]="calendar.teacherId"
                          required
                        >
                          <option value="" selected>Select Teacher</option>
                          <option
                            [value]="teacher.teacherId"
                            *ngFor="let teacher of teacherList"
                          >
                            {{ teacher.name }}
                          </option>
                        </select>
                        <span
                          class="help-block"
                          style="color: orangered"
                          *ngIf="teacherId.invalid && teacherId.touched"
                          >* Teacher is required</span
                        >
                        <br />
                        {{ calendar.teacher.name }}
                        {{ calendar.teacher.surname }}
                      </p>

                      <ul class="list-unstyled font-small mt-5 mb-0">
                        <li>
                          <p class="text-uppercase mb-2">
                            <strong>Qualification</strong>
                          </p>
                          <p class="text-muted mb-4">
                            {{ calendar.teacher.qualification }}
                          </p>
                        </li>

                        <li>
                          <p class="text-uppercase mb-2">
                            <strong>Start - End Date</strong>
                          </p>
                         
                            <div class="row">
                              <div class="col-md-4"> 
                              <input
                              type="date"
                              class="form-control"
                              id="startDate"
                              #startDate="ngModel"
                              name="startDate"
                              [(ngModel)]="calendar.startDate"
                              required
                            />
                            <span
                            class="help-block"
                            style="color: orangered"
                            *ngIf="startDate.invalid && startDate.touched"
                            >* Start Date is required</span>
                            </div>
                              <div class="col-md-1">  | </div>
                              <div class="col-md-4"> 
                                <input
                                type="date"
                                class="form-control"
                                id="endDate"
                                #endDate="ngModel"
                                name="endDate"
                                [(ngModel)]="calendar.endDate"
                                required
                              /> <span
                              class="help-block"
                              style="color: orangered"
                              *ngIf="endDate.invalid && endDate.touched"
                              >* End Date is required</span>
                             </div>
                              <div class="col-md-3"></div>
                            </div>
                          <span
                            class="help-block"
                            style="color: orangered"
                            *ngIf="startDate.value > endDate.value"
                            > * <b>End</b> date must be later than <b>Start</b> date</span>
                           
                        </li>

                        <li>
                          <p class="text-uppercase mb-2">
                            <strong>Skills</strong>
                          </p>
                          <p class="text-muted mb-4">
                            {{ calendar.teacher.compBranch }}
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card">
            <!-- Card header -->
            <div
              class="card-header rgba-stylish-strong z-depth-1 mb-1"
              role="tab"
              id="heading3"
            >
              <a
                class="collapsed"
                data-toggle="collapse"
                data-parent="#accordionEx7"
                href="#collapse3"
                aria-expanded="false"
                aria-controls="collapse3"
              >
                <h5 class="mb-0 white-text text-uppercase font-thin">
                  Course Content
                  <i class="fas fa fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div
              id="collapse3"
              class="collapse"
              role="tabpanel"
              aria-labelledby="heading3"
              data-parent="#accordionEx7"
            >
              <div class="card-body mb-1 rgba-grey-light white-text">
                <textarea
                  type="text"
                  class="form-control col-md-12"
                  id="courseContent"
                  #courseContent="ngModel"
                  [(ngModel)]="calendar.courseContent"
                  name="courseContent"
                  required
                ></textarea>
                <span
                class="help-block"
                style="color: orangered"
                *ngIf="courseContent.invalid && courseContent.touched"
                >* Course content is required</span
              >
              </div>
            </div>
          </div>
          <!-- Accordion card -->
        </div>
        <!--/.Accordion wrapper-->
      </div>
    </div>
    <!-- Grid column -->

    <div class="row col-md-12 py-2 mx-2">
      <button
        class="btn btn-outline-primary fa fa-times pr-2"
        routerLink="/calendar"
      ></button>

      <button
        class="btn btn-outline-primary fa fa-check pr-2 mx-1"
        type="submit"
        [disabled]="!calendarAddForm.valid"
      ></button>
    </div>
  </form>
</div>
<!-- Grid row -->
