<div class="container">
  <h1> </h1>
  <div class="row col-md-12">
    <div class="col-md-2">
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary"
        routerLink="/teacherAdd"
      >
        <i class="fas fa fa-plus pr-2" aria-hidden="true"></i> Add New Teacher
      </button>
      
    </div>
    <div class="col-md-10">
      <!-- Search form -->   
      <i class="fas fa fa-search" aria-hidden="true"></i>
      <input
      (keyup)="Filter($event.target.value)"
        class="ml-3 w-50"
        type="text"
        placeholder="Search"
        aria-label="Search"
      />
     
    </div>
  </div>
  <hr/> 
  <div  *ngIf="!(teachers.length > 0)"  class="row">
    <div class="alert alert-info" role="alert">
      No Records Found! 
    </div>
  </div>
  <div  *ngIf="(teachers.length > 0)" class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Teacher Id</th>
          <th scope="col">Name</th>
          <th scope="col">Sur Name</th>
          <th scope="col">User Name</th>
          <th scope="col">Qualification</th>
          <th scope="col">Competence Branch</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers">
          <th scope="row">{{ teacher.teacherId }}</th>
          <td>{{ teacher.name }}</td>
          <td>{{ teacher.surname }}</td>
          <td>
            {{ teacher.userName }}
           
          </td>
          <td>{{ teacher.qualification }}
          </td>
          <td>{{ teacher.compBranch }}
          </td>
          <td>
              <div class="row col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <a class="fa fa-trash" (click)="delete(teacher.teacherId)">        </a></div>
                <div class="col-md-4">
                  <a  routerLink="/teacherDetail/{{ teacher.teacherId }}"   class="fa fa-edit" >  </a></div>
              </div>
           </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
