<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1></h1>
      <a
        routerLink="/teacherAdd"
        class="fa fa-plus"
      >
        Add New Teacher
    </a>
      <hr />
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Teacher Id</th>
          <th scope="col">Name</th>
          <th scope="col">Sur Name</th>
          <th scope="col">User Name</th>
          <th scope="col">Qualification</th>
          <th scope="col">Competence Branch</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers">
          <th scope="row">{{ teacher.teacherId }}</th>
          <td>{{ teacher.name }}</td>
          <td>{{ teacher.surname }}</td>
          <td>
            {{ teacher.userName }}
           
          </td>
          <td>{{ teacher.qualification }}
          </td>
          <td>{{ teacher.compBranch }}
          </td>
          <td>
              <div class="row col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <a class="fa fa-trash" (click)="delete(teacher.teacherId)">        </a></div>
                <div class="col-md-4">
                  <a  routerLink="/teacherDetail/{{ teacher.teacherId }}"   class="fa fa-edit" >  </a></div>
              </div>
           </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
