<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1> </h1>
       <a *ngIf="isAdminUser=='1'" routerLink="/calendarAdd"  class="fa fa-plus">
        Add New Calendar
       </a>
       <hr/>
      </div>
  </div>
  <div class="row"> 
    <div *ngFor="let calendar of calendars" class="col-md-3">
      <div class="card mb-4 shadow-sm">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="100"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: Thumbnail"
        >
          <title>{{calendar.course.name}}</title>
          <rect width="100%" height="100%" fill="#c44569" />
          <text style="text-transform:uppercase" x="30%" y="50%" fill="#eceeef" dy=".3em">{{calendar.course.name}}</text>
        </svg>
        <div class="card-body">
          <p class="card-text">{{calendar.courseContent}}
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">     
              <div class="row col-md-12">
                <div class="col-md-4"><a routerLink="/calendarShow/{{calendar.calendarId}}" class="fa fa-eye">
                </a></div>
                <div class="col-md-4"><a routerLink="/calendarDetail/{{calendar.calendarId}}" class="fa fa-edit">
                </a></div>
                <div class="col-md-4"><a  *ngIf="isAdminUser=='1'" class="fa fa-trash" (click)="delete(calendar.calendarId)"></a></div>
              </div>              
            </div>
            <small class="text-muted">{{calendar.course.duration}}  - {{calendar.price}} TL</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
