<main role="main" class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="userAddForm" (ngSubmit)="add()">
        <h4 class="mt-3 pt-3">Add New User</h4>
        <div class="form-row">
          <div class=" form-group col-md-6">
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="User Name" autofocus />
            <span class="help-block" *ngIf="userAddForm.get('name').hasError('required') && userAddForm.get('name').touched">User Name is required</span>
          </div>
        </div>
        <div class="form-row">
          <div class=" form-group col-md-6">
            <input type="text" class="form-control" id="password" formControlName="password" placeholder="User password"  />
            <span class="help-block" *ngIf="userAddForm.get('password').hasError('required') && userAddForm.get('password').touched">User password is required</span>
            <span class="help-block" *ngIf="userAddForm.get('password').hasError('minlength') && userAddForm.get('password').touched">
              Password minlength 4
            </span>
            <span class="help-block" *ngIf="userAddForm.get('password').hasError('maxlength') && userAddForm.get('password').touched">
              Password maxlength 10
            </span>
          </div>
        </div>
        <div class="form-row">
          <div class=" form-group col-md-6">
            <label for="price">Is Teacher</label>
            <select class="form-control"  formControlName="isTeacher"
              id="isTeacher"
              value="{{ user.isTeacher }}"
            >
              <option value="0">No</option>
              <option value="1">Yes</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class=" form-group col-md-6">
            <label for="price">Is Student</label>
            <select class="form-control"  formControlName="isStudent"
              id="isStudent"
              value="{{ user.isStudent }}"
            >
              <option value="0">No</option>
              <option value="1">Yes</option>
            </select>           
          </div>
        </div>
        <div class="form-row">
          <div class=" form-group col-md-6">
            <label for="price">Is Admin</label>
            <select class="form-control"  formControlName="isAdmin"
              id="isAdmin"
              value="userAddForm.get('isAdmin')"
            >
              <option value="0">No</option>
              <option value="1">Yes</option>
            </select>           
          </div>
        </div>
        <div class="form-row">
          
          <button type="submit" class="btn  btn-primary" [disabled]="!userAddForm.valid"> Add </button>
                                    |
          <button type="submit" class="btn  btn-secondary"    routerLink="/user">Cancel</button>
        </div>
       <!-- <h6>{{userAddForm.value|json}}</h6>
        <h6>{{userAddForm.status|json}}</h6>-->
      </form>
    </div>
  </div>
</main>
