<div class="container">
   <h1> </h1>
  <div class="row col-md-12">
    <div class="col-md-2">
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary"
        routerLink="/studentAdd"
      >
        <i class="fas fa fa-plus pr-2" aria-hidden="true"></i> Add New Student
      </button>
      
    </div>
    <div class="col-md-10">
      <!-- Search form -->   
      <i class="fas fa fa-search" aria-hidden="true"></i>
      <input
      (keyup)="Filter($event.target.value)"
        class="ml-3 w-50"
        type="text"
        placeholder="Search"
        aria-label="Search"
      />
     
    </div>
  </div>
  <hr/> 
  <div  *ngIf="!(students.length > 0)"  class="row">
    <div class="alert alert-info" role="alert">
      No Records Found! 
    </div>
  </div>
  <div *ngIf="(students.length > 0)"  class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Student Id</th>
          <th scope="col">Name</th>
          <th scope="col">Sur Name</th>
          <th scope="col">User Name</th>
          <th scope="col">E-mail</th>
          <th scope="col">Phone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <th scope="row">{{ student.studentId }}</th>
          <td>{{ student.name }}</td>
          <td>{{ student.surname }}</td>
          <td>
            {{ student.userName }}
           
          </td>
          <td>{{ student.email }}
          </td>
          <td>{{ student.phone }}
          </td>
          <td>
            
            <div class="row col-md-12">
              <div class="col-md-4"></div>
              <div class="col-md-4">   <a class="fa fa-trash" (click)="delete(student.studentId)"> </a></div>
              <div class="col-md-4"><a  routerLink="/studentDetail/{{ student.studentId }}"   class="fa fa-edit"    ></a></div>
             </div>    
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
