<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="home">LYL Academy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="user" routerLinkActive="active">User  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="course" routerLinkActive="active">Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="participant" routerLinkActive="active">Participant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="calendar" routerLinkActive="active">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="student" routerLinkActive="active">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="teacher" routerLinkActive="active">Teacher</a>
      </li>  
    </ul>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
 
  </div>
</nav>