<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1> Course List </h1>
        
         <hr/>
        </div>
    </div>
    <div class="row"> 
      <div *ngFor="let course of courses" class="col-md-3">
        <div class="card mb-4 shadow-sm">
          <svg
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="100"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: Thumbnail"
          >
            <title>{{course.name}}</title>
            <rect width="100%" height="100%" fill="#adb5bd" />
            <text style="text-transform:uppercase" x="30%" y="50%" fill="#eceeef" dy=".3em">{{course.name}}</text>
          </svg>
          <div class="card-body">
            <p class="card-text">{{course.description}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              
              <small class="text-muted">{{course.duration}}  - {{course.price}} TL</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  