USE [master]
GO
/****** Object:  Database [LYL_Academy_db]    Script Date: 5.11.2020 06:41:11 ******/
CREATE DATABASE [LYL_Academy_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LYL_Academy_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LYL_Academy_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LYL_Academy_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LYL_Academy_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LYL_Academy_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LYL_Academy_db]
GO
/****** Object:  Table [dbo].[Calendars]    Script Date: 5.11.2020 06:41:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendars](
	[CalendarId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[TeacherId] [int] NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Year] [nvarchar](50) NOT NULL,
	[CourseContent] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Status] [int] NOT NULL,
	[IsDelete] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Calendar] PRIMARY KEY CLUSTERED 
(
	[CalendarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 5.11.2020 06:41:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Duration] [nvarchar](50) NULL,
	[Description] [nvarchar](150) NULL,
	[Price] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 5.11.2020 06:41:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants](
	[ParticipantId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[AmountPaid] [decimal](18, 0) NOT NULL,
	[AmountRemain] [decimal](18, 0) NOT NULL,
	[CalendarId] [int] NOT NULL,
	[IsDelete] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Participant] PRIMARY KEY CLUSTERED 
(
	[ParticipantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 5.11.2020 06:41:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [bigint] NULL,
	[IsDelete] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 5.11.2020 06:41:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Qualification] [nchar](10) NULL,
	[CompBranch] [nchar](10) NULL,
	[IsDelete] [int] NOT NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5.11.2020 06:41:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Password] [nchar](10) NOT NULL,
	[IsStudent] [int] NOT NULL,
	[IsTeacher] [int] NOT NULL,
	[IsAdmin] [int] NOT NULL,
	[IsDelete] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Calendars] ON 

INSERT [dbo].[Calendars] ([CalendarId], [CourseId], [TeacherId], [StartDate], [EndDate], [Year], [CourseContent], [Price], [Status], [IsDelete], [CreateDate], [UpdateDate]) VALUES (30, 1, 1, CAST(N'2019-01-01T00:00:00.000' AS DateTime), CAST(N'2019-05-01T00:00:00.000' AS DateTime), N'2019', N'Package definition and imports
Program entry point
Functions
Variables
Comments
String templates
Conditional expressions
Nullable values and null checks
Type checks and automatic casts
for loop
while loop
when expression
Ranges
Collections
Creating basic classes and their instances
Idioms
Creating DTOs (POJOs/POCOs)
Default values for function parameters
Filtering a list
Checking element presence in a collection
String Interpolation
Instance Checks
Traversing a map/list of pairs
Using ranges
Read-only list
Read-only map
Accessing a map
Lazy property
Extension Functions
Creating a singleton
If not null shorthand
If not null and else shorthand
Executing a statement if null
Get first item of a possibly empty collection
Execute if not null
Map nullable value if not null
Return on when statement
''try/catch'' expression
''if'' expression
Builder-style usage of methods that return Unit
Single-expression functions
Calling multiple methods on an object instance (with)
Configuring properties of an object (apply)
Java 7''s try with resources
Convenient form for a generic function that requires the generic type information
Consuming a nullable Boolean
Swapping two variables
TODO(): Marking code as incomplete
Coding Conventions
Applying the style guide
Directory structure
Source file names
Source file organization
Class layout
Interface implementation layout
Overload layout
Naming rules
Function names
Property names
Choosing good names
Formatting
Horizontal whitespace
Colon
Class header formatting
Modifiers
Annotation formatting
File annotations
Function formatting
Expression body formatting
Property formatting
Formatting control flow statements
Method call formatting
Chained call wrapping
Lambda formatting
Documentation comments
Avoiding redundant constructs
Unit
Semicolons
String templates
Idiomatic use of language features
Immutability
Default parameter values
Type aliases
Lambda parameters
Returns in a lambda
Named arguments
Using conditional statements
if versus when
Using nullable Boolean values in conditions
Using loops
Loops on ranges
Using strings
Functions vs Properties
Using extension functions
Using infix functions
Factory functions
Platform types
Using scope functions apply/with/run/also/let
Coding conventions for libraries
Basics
Basic Types
Numbers
Literal constants
Underscores in numeric literals (since 1.1)
Representation
Explicit conversions
Operations
Floating point numbers comparison
Characters
Booleans
Arrays
Primitive type arrays
Unsigned integers
Specialized classes
Literals
Experimental status of unsigned integers
Strings
String literals
String templates
Packages and Imports
Packages
Default Imports
Imports
Visibility of Top-level Declarations
Control Flow
If Expression
When Expression', CAST(1200 AS Decimal(18, 0)), 1, 0, CAST(N'2019-01-01T00:00:00.000' AS DateTime), CAST(N'2019-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Calendars] ([CalendarId], [CourseId], [TeacherId], [StartDate], [EndDate], [Year], [CourseContent], [Price], [Status], [IsDelete], [CreateDate], [UpdateDate]) VALUES (40, 15, 6, CAST(N'2020-11-25T00:00:00.000' AS DateTime), CAST(N'2020-12-12T00:00:00.000' AS DateTime), N'2020', N'Learn Git with Bitbucket Cloud
Learn Git with Bitbucket Cloud
Create a Git repository Copy your Git repository and add files Pull changes from your Git repository on Bitbucket Cloud Use a Git branch to merge a file
Objective
Learn the basics of Git with this space themed tutorial. 

Mission Brief
Your mission is to learn the ropes of Git by completing the tutorial and tracking down all your team''s space stations. Commands covered in this tutorial:

git clone, git config, git add, git status, git commit, git push, git pull, git branch, git checkout, and git merge
Time	Audience	Prerequisites
30 minutes	You are new to Git and Bitbucket Cloud	
You have installed Git
 	 	
You have a Bitbucket account
Create a Git repository', CAST(235 AS Decimal(18, 0)), 1, 0, CAST(N'2020-11-04T07:11:09.097' AS DateTime), CAST(N'2020-11-04T07:11:09.097' AS DateTime))
SET IDENTITY_INSERT [dbo].[Calendars] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [Name], [Duration], [Description], [Price]) VALUES (1, N'HTML', N'2 ay', N'html web tasarım', CAST(780 AS Decimal(18, 0)))
INSERT [dbo].[Courses] ([CourseId], [Name], [Duration], [Description], [Price]) VALUES (2, N'Kotlin', N'6 ay', N'MOBİL uygulama', CAST(2500 AS Decimal(18, 0)))
INSERT [dbo].[Courses] ([CourseId], [Name], [Duration], [Description], [Price]) VALUES (4, N'PHP', N'12 ay', N'php , html vs', CAST(1210 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Participants] ON 

INSERT [dbo].[Participants] ([ParticipantId], [StudentId], [Amount], [AmountPaid], [AmountRemain], [CalendarId], [IsDelete], [CreateDate], [UpdateDate]) VALUES (2, 1, CAST(2000 AS Decimal(18, 0)), CAST(200 AS Decimal(18, 0)), CAST(1800 AS Decimal(18, 0)), 2, 0, CAST(N'2020-11-01T00:00:00.000' AS DateTime), CAST(N'2020-11-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Participants] ([ParticipantId], [StudentId], [Amount], [AmountPaid], [AmountRemain], [CalendarId], [IsDelete], [CreateDate], [UpdateDate]) VALUES (3, 1, CAST(2000 AS Decimal(18, 0)), CAST(200 AS Decimal(18, 0)), CAST(1800 AS Decimal(18, 0)), 5, 0, CAST(N'2020-11-01T00:00:00.000' AS DateTime), CAST(N'2020-11-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Participants] ([ParticipantId], [StudentId], [Amount], [AmountPaid], [AmountRemain], [CalendarId], [IsDelete], [CreateDate], [UpdateDate]) VALUES (9, 1, CAST(500 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(500 AS Decimal(18, 0)), 4, 0, CAST(N'2020-11-01T05:28:31.077' AS DateTime), CAST(N'2020-11-01T05:28:31.077' AS DateTime))
SET IDENTITY_INSERT [dbo].[Participants] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [Name], [Surname], [UserName], [Address], [Email], [Phone], [IsDelete]) VALUES (1, N'leyla', N'akmancı', N'student', N'istanbul avrupa bakırköy', N'lyl@gmail.com', 123456789588, 0)
INSERT [dbo].[Students] ([StudentId], [Name], [Surname], [UserName], [Address], [Email], [Phone], [IsDelete]) VALUES (2, N'mecit', N'akmancı', N'admin', N'istanbul', N'mct@gmail.com', 2569874563, 0)
INSERT [dbo].[Students] ([StudentId], [Name], [Surname], [UserName], [Address], [Email], [Phone], [IsDelete]) VALUES (6, N'newstudent', N'surname', N'student2', N'fddsvsf', N'leyla@gmail.com', 4740225, 0)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([TeacherId], [Name], [Surname], [UserName], [Qualification], [CompBranch], [IsDelete]) VALUES (1, N'teacher1e', N'surname1e', N'teacher', N'Mobilee   ', N'Androide  ', 0)
INSERT [dbo].[Teachers] ([TeacherId], [Name], [Surname], [UserName], [Qualification], [CompBranch], [IsDelete]) VALUES (2, N'teacher2', N'surname2', N'teacher2', N'Mobile    ', N'ios       ', 0)
INSERT [dbo].[Teachers] ([TeacherId], [Name], [Surname], [UserName], [Qualification], [CompBranch], [IsDelete]) VALUES (3, N'teacher3', N'surname3', N'teacher3', N'Web       ', N'angular   ', 0)
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Name], [Password], [IsStudent], [IsTeacher], [IsAdmin], [IsDelete]) VALUES (1, N'admin', N'admin     ', 1, 1, 1, 0)
INSERT [dbo].[Users] ([UserId], [Name], [Password], [IsStudent], [IsTeacher], [IsAdmin], [IsDelete]) VALUES (2, N'lyl', N'lyl       ', 1, 1, 1, 0)
INSERT [dbo].[Users] ([UserId], [Name], [Password], [IsStudent], [IsTeacher], [IsAdmin], [IsDelete]) VALUES (12, N'student', N'student   ', 1, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Calendars] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Participants] ADD  CONSTRAINT [DF__Participa__IsDel__4D94879B]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF__Student__IsDelet__38996AB5]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Teachers] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsStudent]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsTeacher]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Calendars]  WITH CHECK ADD  CONSTRAINT [FK_Calendar_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Calendars] CHECK CONSTRAINT [FK_Calendar_Course]
GO
ALTER TABLE [dbo].[Calendars]  WITH CHECK ADD  CONSTRAINT [FK_Calendar_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[Calendars] CHECK CONSTRAINT [FK_Calendar_Teacher]
GO
ALTER TABLE [dbo].[Participants]  WITH CHECK ADD  CONSTRAINT [FK_Participant_Calendar] FOREIGN KEY([CalendarId])
REFERENCES [dbo].[Calendars] ([CalendarId])
GO
ALTER TABLE [dbo].[Participants] CHECK CONSTRAINT [FK_Participant_Calendar]
GO
ALTER TABLE [dbo].[Participants]  WITH CHECK ADD  CONSTRAINT [FK_Participant_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[Participants] CHECK CONSTRAINT [FK_Participant_Student]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Student_User] FOREIGN KEY([UserName])
REFERENCES [dbo].[Users] ([Name])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Student_User]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_User] FOREIGN KEY([UserName])
REFERENCES [dbo].[Users] ([Name])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teacher_User]
GO
USE [master]
GO
